# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### 1. Import the necessary libraries

In [97]:
import numpy as np
rng = np.random.default_rng(10) 
import pandas as pd

### 2. Import the datasets cars1.csv and cars1.csv as cars1 and cars2, respectively.

In [98]:
#Import the datasets cars1 and car2
cars1 = pd.read_csv('C:/Users/choih/OneDrive/Desktop/cars1.csv', skipinitialspace=True)
cars2 = pd.read_csv('C:/Users/choih/OneDrive/Desktop/cars2.csv', skipinitialspace=True)

   ### 3. Check two datasets using shape, head, and info.

In [99]:
#Check cars1 and cars2 dataset 

print(np.shape(cars1))
print(cars1.head)
print(cars1.info)
print(np.shape(cars2))
print(cars2.head)
print(cars2.info)

(198, 14)
<bound method NDFrame.head of       mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
193  24.0          6           200         81    3012          17.6     76
194  22.5          6           232         90    3085          17.6     76
195  29.0          4            85         52    2035          22.2     76
196  24.5          4            98         60    2164          22.1     76
197  29.0          4            90         70    1937          14.2     76

     origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0         1  chevrolet chevelle malibu         NaN          NaN          NaN
1         1          buick skylark 320         NaN          NaN          NaN
2         1         plymouth satellite         NaN          NaN          NaN
3         1              amc rebel sst         NaN          NaN          NaN
4         1                ford torino         NaN          NaN          NaN
..      ...                        ...         ...          ...          ...
193       1              ford maverick         NaN          NaN          NaN
194       1                 amc hornet         NaN          NaN          NaN
195       1         chevrolet chevette         NaN          NaN          NaN
196       1            chevrolet woody         NaN          NaN          NaN
197       2                  vw rabbit         NaN          NaN          NaN

     Unnamed: 12  Unnamed: 13
0            NaN          NaN
1            NaN          NaN
2            NaN          NaN
3            NaN          NaN
4            NaN          NaN
..           ...          ...
193          NaN          NaN
194          NaN          NaN
195          NaN          NaN
196          NaN          NaN
197          NaN          NaN

[198 rows x 14 columns]>
<bound method DataFrame.info of       mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
193  24.0          6           200         81    3012          17.6     76
194  22.5          6           232         90    3085          17.6     76
195  29.0          4            85         52    2035          22.2     76
196  24.5          4            98         60    2164          22.1     76
197  29.0          4            90         70    1937          14.2     76

     origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0         1  chevrolet chevelle malibu         NaN          NaN          NaN
1         1          buick skylark 320         NaN          NaN          NaN
2         1         plymouth satellite         NaN          NaN          NaN
3         1              amc rebel sst         NaN          NaN          NaN
4         1                ford torino         NaN          NaN          NaN
..      ...                        ...         ...          ...          ...
193       1              ford maverick         NaN          NaN          NaN
194       1                 amc hornet         NaN          NaN          NaN
195       1         chevrolet chevette         NaN          NaN          NaN
196       1            chevrolet woody         NaN          NaN          NaN
197       2                  vw rabbit         NaN          NaN          NaN

     Unnamed: 12  Unnamed: 13
0            NaN          NaN
1            NaN          NaN
2            NaN          NaN
3            NaN          NaN
4            NaN          NaN
..           ...          ...
193          NaN          NaN
194          NaN          NaN
195          NaN          NaN
196          NaN          NaN
197          NaN          NaN

[198 rows x 14 columns]>
(200, 9)
<bound method NDFrame.head of       mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    33.0          4            91         53    1795          17.4     76
1    20.0          6           225        100    3651          17.7     76
2    18.0          6           250         78    3574          21.0     76
3    18.5          6           250        110    3645          16.2     76
4    17.5          6           258         95    3193          17.8     76
..    ...        ...           ...        ...     ...           ...    ...
195  27.0          4           140         86    2790          15.6     82
196  44.0          4            97         52    2130          24.6     82
197  32.0          4           135         84    2295          11.6     82
198  28.0          4           120         79    2625          18.6     82
199  31.0          4           119         82    2720          19.4     82

     origin                 car
0         3         honda civic
1         1      dodge aspen se
2         1   ford granada ghia
3         1  pontiac ventura sj
4         1       amc pacer d/l
..      ...                 ...
195       1     ford mustang gl
196       2           vw pickup
197       1       dodge rampage
198       1         ford ranger
199       1          chevy s-10

[200 rows x 9 columns]>
<bound method DataFrame.info of       mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    33.0          4            91         53    1795          17.4     76
1    20.0          6           225        100    3651          17.7     76
2    18.0          6           250         78    3574          21.0     76
3    18.5          6           250        110    3645          16.2     76
4    17.5          6           258         95    3193          17.8     76
..    ...        ...           ...        ...     ...           ...    ...
195  27.0          4           140         86    2790          15.6     82
196  44.0          4            97         52    2130          24.6     82
197  32.0          4           135         84    2295          11.6     82
198  28.0          4           120         79    2625          18.6     82
199  31.0          4           119         82    2720          19.4     82

     origin                 car
0         3         honda civic
1         1      dodge aspen se
2         1   ford granada ghia
3         1  pontiac ventura sj
4         1       amc pacer d/l
..      ...                 ...
195       1     ford mustang gl
196       2           vw pickup
197       1       dodge rampage
198       1         ford ranger
199       1          chevy s-10

[200 rows x 9 columns]>

### 4. cars1 dataset has empty columns. Remove them.

In [100]:
#Remove the empty columns in cars1 dataset 
cars1.dropna(axis=1, how='any', inplace=True)
print(cars1)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
193  24.0          6           200         81    3012          17.6     76
194  22.5          6           232         90    3085          17.6     76
195  29.0          4            85         52    2035          22.2     76
196  24.5          4            98         60    2164          22.1     76
197  29.0          4            90         70    1937          14.2     76

     origin                        car
0         1  chevrolet chevelle malibu
1         1          buick skylark 320
2         1         plymouth satellite
3         1              amc rebel sst
4         1                ford torino
..      ...                        ...
193       1              ford maverick
194       1                 amc hornet
195       1         chevrolet chevette
196       1            chevrolet woody
197       2                  vw rabbit

[198 rows x 9 columns]

### 5. Join cars1 and cars2 into a single DataFrame called cars.

In [101]:
#Combine cars1 and cars2 dataframe 
cars = pd.merge(cars1, cars2, how='outer')

print(cars)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0     9.0          8           304        193    4732          18.5     70
1    10.0          8           307        200    4376          15.0     70
2    10.0          8           360        215    4615          14.0     70
3    11.0          8           318        210    4382          13.5     70
4    11.0          8           350        180    3664          11.0     73
..    ...        ...           ...        ...     ...           ...    ...
393  43.4          4            90         48    2335          23.7     80
394  44.0          4            97         52    2130          24.6     82
395  44.3          4            90         48    2085          21.7     80
396  44.6          4            91         67    1850          13.8     80
397  46.6          4            86         65    2110          17.9     80

     origin                   car
0         1              hi 1200d
1         1             chevy c20
2         1             ford f250
3         1            dodge d200
4         1      oldsmobile omega
..      ...                   ...
393       2    vw dasher (diesel)
394       2             vw pickup
395       2  vw rabbit c (diesel)
396       3   honda civic 1500 gl
397       3             mazda glc

[398 rows x 9 columns]

### 6. Randomly generate integers from 10,000 to 70,000 of size equal to the number of rows of the cars dataset. Add the generated integers as a column price to the cars dataset.

In [102]:
#Build the new column "price" and fill it out with a random number between 10000 ~ 70000
cars['price'] = np.random.randint(10000, 70001, size=398)

print(cars)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0     9.0          8           304        193    4732          18.5     70
1    10.0          8           307        200    4376          15.0     70
2    10.0          8           360        215    4615          14.0     70
3    11.0          8           318        210    4382          13.5     70
4    11.0          8           350        180    3664          11.0     73
..    ...        ...           ...        ...     ...           ...    ...
393  43.4          4            90         48    2335          23.7     80
394  44.0          4            97         52    2130          24.6     82
395  44.3          4            90         48    2085          21.7     80
396  44.6          4            91         67    1850          13.8     80
397  46.6          4            86         65    2110          17.9     80

     origin                   car  price
0         1              hi 1200d  56278
1         1             chevy c20  13650
2         1             ford f250  60100
3         1            dodge d200  33313
4         1      oldsmobile omega  58685
..      ...                   ...    ...
393       2    vw dasher (diesel)  37963
394       2             vw pickup  29720
395       2  vw rabbit c (diesel)  47515
396       3   honda civic 1500 gl  47600
397       3             mazda glc  47554

[398 rows x 10 columns]

### 7. Select the cars whose price is greater than 50,000.

In [103]:
#Build the condition that the car price is higher than 50000, and select the car that matches the condition.
e_car = cars[(cars.price > 50000)] 
print(e_car['price'])

0      56278
2      60100
4      58685
6      50706
8      59874
       ...
366    63719
369    53851
381    50196
386    50550
389    66853
Name: price, Length: 127, dtype: int32

### 8. The car column in cars dataset consists of the car manufacturer and the car name. Split the car column into two columns of manufacturer and name using [str.split function](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html)

In [104]:
#Split the car's column to the manufacturer and name, split the three parts, and select two parts which are 0,1 position 
cars[['Manufacturer', 'Car name']] = cars['car'].str.split(' ', n=2, expand=True)[[0, 1]]

print(cars)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0     9.0          8           304        193    4732          18.5     70
1    10.0          8           307        200    4376          15.0     70
2    10.0          8           360        215    4615          14.0     70
3    11.0          8           318        210    4382          13.5     70
4    11.0          8           350        180    3664          11.0     73
..    ...        ...           ...        ...     ...           ...    ...
393  43.4          4            90         48    2335          23.7     80
394  44.0          4            97         52    2130          24.6     82
395  44.3          4            90         48    2085          21.7     80
396  44.6          4            91         67    1850          13.8     80
397  46.6          4            86         65    2110          17.9     80

     origin                   car  price Manufacturer Car name
0         1              hi 1200d  56278           hi    1200d
1         1             chevy c20  13650        chevy      c20
2         1             ford f250  60100         ford     f250
3         1            dodge d200  33313        dodge     d200
4         1      oldsmobile omega  58685   oldsmobile    omega
..      ...                   ...    ...          ...      ...
393       2    vw dasher (diesel)  37963           vw   dasher
394       2             vw pickup  29720           vw   pickup
395       2  vw rabbit c (diesel)  47515           vw   rabbit
396       3   honda civic 1500 gl  47600        honda    civic
397       3             mazda glc  47554        mazda      glc

[398 rows x 12 columns]

### 9. Count how many manufacturers are in the manufacturer column. Find the errors and fix them.

In [105]:
#Removes any extra spaces before and after the string in the column. Converts all characters in the string to lowercase, 
#ensuring consistency across all entries in the column.
cars['Manufacturer'] = cars['Manufacturer'].str.strip().str.lower()

# Count how many times each manufacturer is showing
car_c = cars['Manufacturer'].value_counts()
#For print out name order 
result= car_c.sort_index()

print(result)

Manufacturer
amc              28
audi              7
bmw               2
buick            17
cadillac          2
capri             1
chevroelt         1
chevrolet        43
chevy             3
chrysler          6
datsun           23
dodge            28
fiat              8
ford             51
hi                1
honda            13
maxda             2
mazda            10
mercedes          1
mercedes-benz     2
mercury          11
nissan            1
oldsmobile       10
opel              4
peugeot           8
plymouth         31
pontiac          16
renault           5
saab              4
subaru            4
toyota           25
toyouta           1
triumph           1
vokswagen         1
volkswagen       15
volvo             6
vw                6
Name: count, dtype: int64

### 10. Compute the average mpg of cars from each manufacturer.

In [106]:
#Compute the average mpg (each mpg mean)
cars.groupby('Manufacturer').mpg.mean()

Manufacturer
amc              18.246429
audi             26.714286
bmw              23.750000
buick            19.182353
cadillac         19.750000
capri            25.000000
chevroelt        16.000000
chevrolet        20.472093
chevy            18.000000
chrysler         17.266667
datsun           31.113043
dodge            22.060714
fiat             28.912500
ford             19.694118
hi                9.000000
honda            33.761538
maxda            26.050000
mazda            30.860000
mercedes         25.400000
mercedes-benz    23.250000
mercury          19.118182
nissan           36.000000
oldsmobile       21.100000
opel             25.750000
peugeot          23.687500
plymouth         21.703226
pontiac          20.012500
renault          32.880000
saab             23.900000
subaru           30.525000
toyota           28.372000
toyouta          23.000000
triumph          35.000000
vokswagen        29.800000
volkswagen       29.106667
volvo            21.116667
vw               39.016667
Name: mpg, dtype: float64